*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.loginWindow{
    
    width: 35%;
    height: max-content;
    padding: 1.5rem;
    box-shadow: 0 0 .5rem black;
    border-radius: .5rem;
}

.loginHead{
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.loginHead img{
    width: 2rem;
}

.loginDetails form{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}
.loginDetails  input{
    padding: .5rem;
    border: none;
    box-shadow: 0 0 .5rem black;
    border-radius: .5rem;
}
.btnLink{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}
.btnLink input{
    padding: .5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    background-color: #fbd0d9;
    color: crimson; 
}
.btnLink input:hover{
    box-shadow: 0 0 .5rem crimson;
}

.btnLink p{
    /* color: black; */
    font-weight: 700;
}

.back{
    font-size: 1.5rem;
}

.back a{
    text-decoration: none;
    font-size: 1.5rem;
    color: red;
    font-weight: 800;
    border-bottom: 0.2rem solid red;
    padding: 1rem;
    border-radius: 0.5rem;
}